{% extends "head.html" %}
{% block title %}About me{% endblock %}

{% block navbar %}
<a class="nav-link active fs-3 fw-bold" aria-current="page" href="{{url_for('index')}}">HOME</a>
{% endblock %} - K-POP

{% block content %}
<div class="container-fluid">
    <div class="mt-5 mx-sm-2">
        <h5 class="text-about-top fs-4 fw-bold text-center">ข้อมูลส่วนตัว</h5>
        <br>
        <div class="col-xl-4 offset-xl-4 col-lg-5 offset-lg-4 col-md-6 offset-md-3">
            <div class="text-about mx-lg-5">
                <h5 class="fs-5 fw-bold">Email:</h5>
                <h5 class="fs-5 fw-bold text-decoration-underline mx-4">{{mydata['email']}}</h5>
            </div>
            <div class="text-about mx-lg-5">
                <h5 class="fs-5 fw-bold">ชื่อ-สกุล:</h5>
                <h5 class="fs-5 fw-bold text-decoration-underline mx-4">{{mydata['name']}}</h5>
            </div>
            <div class="text-about mx-lg-5">
                <h5 class="fs-5 fw-bold">ที่อยู่:</h5>
                <h5 class="fs-5 fw-bold text-decoration-underline mx-4">{{mydata['address']}}</h5>
            </div>
            <div class="text-about mx-lg-5">
                <h5 class="fs-5 fw-bold">เบอร์:</h5>
                <h5 class="fs-5 fw-bold text-decoration-underline mx-4">{{mydata['phone_number']}}</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}